button,
.button {
    background-color: #3085d6;
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    padding: 15px 35px;
    margin: 26px 5px 0;
    cursor: pointer;
    white-space: nowrap;
}

button:hover,
.button:hover {
    background-color: #297dce;
}

button:active,
.button:active {
    background-color: #236bb0;
}

button.cancel,
.button.cancel {
    background-color: #d0d0d0;
}

button.cancel:hover,
.button.cancel:hover {
    background-color: #c8c8c8;
}

button.cancel:active,
.button.cancel:active {
    background-color: #b7b7b7;
}
